:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6c7ae0;
  --secondary: #f8f9fa;
  --tertiary: #f1f5f9;
  --gray: #6b7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
/* globals.css */

html,
body {
  height: 100%;
  margin: 0;
}

/* Full-page blue background */
.dashboard-bg {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    var(--primary) 0%,
    var(--primary) 45%,
    var(--secondary) 45%,
    var(--secondary) 100%
  );
}

.dashboard-content {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto; /* ✅ only content scrolls */
}

.hr-light {
  border-top: 1px solid var(--tertiary);
}

/* Width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--gray); /* light gray */
}

/* Thumb (scroll bar) */
::-webkit-scrollbar-thumb {
  background: var(--gray); /* light gray */
  border-radius: 5px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
